# Dependabot will run on day 15 of each month at 02:37 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "37 2 15 * *"
    open-pull-requests-limit: 15
    assignees:
      - "misanorot"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "37 2 15 * *"
    open-pull-requests-limit: 15
    assignees:
      - "misanorot"
